// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2019 Kontron Electronics GmbH
 */

#include "imx8mm-kontron-n801x-s.dts"

/ {
	model = "Kontron i.MX8MM N801X S LVDS";
	compatible = "kontron,imx8mm-n801x-s-lvds", "fsl,imx8mm";

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm1 0 50000>;
		brightness-levels = <0 100>;
		num-interpolated-steps = <100>;
		default-brightness-level = <100>;
		status = "okay";
	};
};

&gpio3 {
	panel_rst {
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "panel-reset";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_rst>;
	};

	panel_stby {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "panel-standby";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_stby>;
	};

	panel_hinv {
		gpio-hog;
		gpios = <24 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "panel-horizontal-invert";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_hinv>;
	};

	panel_vinv {
		gpio-hog;
		gpios = <25 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "panel-vertical-invert";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_vinv>;
	};
};

&i2c2 {
	status = "okay";

	gt911@5d {
		compatible = "goodix,gt928";
		reg = <0x5d>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_touch>;
		interrupt-parent = <&gpio3>;
		interrupts = <22 8>;
		reset-gpios = <&gpio3 23 0>;
		irq-gpios = <&gpio3 22 0>;
	};
};

&dsi_mux_sel {
	/delete-property/ output-high;
	output-low;
};

&hdmi {
	status = "disabled";
};

&lvds {
	ti,lvds-format = <2>;
	ti,lvds-bpp = <24>;
	ti,width-mm = <154>;
	ti,height-mm = <86>;
	pinctrl-names = "default", "panel";
	pinctrl-1 = <&pinctrl_sn65dsi84_panel>;
	enable-panel-gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
	status = "okay";

	port {
		sn65dsi84_in: endpoint {
			remote-endpoint = <&dsi_out>;
		};
	};

	display-timings {
		lvds {
			clock-frequency = <51200000>;
			hactive = <1024>;
			vactive = <600>;
			hback-porch = <10>;
			hfront-porch = <10>;
			vback-porch = <10>;
			vfront-porch = <5>;
			hsync-len = <2>;
			vsync-len = <2>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <0>;
		};
	};
};

&dsi_out {
	remote-endpoint = <&sn65dsi84_in>;
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&iomuxc {
	pinctrl_panel_rst: panelrstgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20		0x19 /* RESET family */
		>;
	};

	pinctrl_panel_stby: panelstbygrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x19 /* STBY family */
		>;
	};

	pinctrl_panel_hinv: panelhinvgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24		0x19 /* HINV panel */
		>;
	};

	pinctrl_panel_vinv: panelvinvgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25		0x19 /* VINV panel */
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MM_IOMUXC_SPDIF_EXT_CLK_PWM1_OUT		0x6
		>;
	};

	pinctrl_sn65dsi84_panel: sn65dsi84panelgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19		0x19 /* TFT-PWR - family */
		>;
	};

	pinctrl_touch: touchgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x19 /* Touch Interrupt */
			MX8MM_IOMUXC_SAI5_RXD2_GPIO3_IO23		0x19 /* Touch Reset */
		>;
	};
};
